{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Add something to {{ topic }}</h2>
  <p><a href="{% url 'learning_logs:topic' topic.id %}">Go back to {{ topic }}</a></p>
{% endblock page_header %}


{% block content %}

  <p>Add a new entry:</p>
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    <div class="mb-3">
      <textarea class="form-control" id="entry" name="text" rows="3"></textarea>
    </div>
    {% bootstrap_button button_type="submit" content="Add entry" %}
  </form>

{% endblock content %}
