.index-card {
  margin-top: 140px;
  background-color: #FFFDF7;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.button-register {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: #DED0B6;
  font-family: serif;
}

.button-register:hover, .btn-new-post:hover {
  border: 1px solid #DED0B6;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #DED0B6;
  background-color: #FFFDF7;
  font-family: serif;
  transition: 0.3s;
}

.btn-new-topic, .btn-new-post {
  background-color: #DED0B6;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: serif;
}

.list-group-item {
  background-color: #FFFDF7 !important;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.list-group-item a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.list-group-item:hover {
  background-color: #DED0B6 !important;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: 0.2;
}

.list-group-item:hover a {
  color: #FFFDF7;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2;
}
